
@{
    ViewBag.Title = "Index";
}

<h2>Menu Administrador</h2>
@if (Session["nombreUsuario"] != null)
{
    <h2>Bienvenido @Session["nombreUsuario"]</h2>
}
else
{
    <h2>Debe de iniciar sesion</h2>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Autoventas Car</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("AutoVentas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>

    @if (Session["IDUsuario"] != null)
            {
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("usuarios", "Index", "Home")</li>
                <li>@Html.ActionLink("compras", "Index", "Home")</li>
                <li>@Html.ActionLink("ventas", "Index", "Home")</li>
                <li>@Html.ActionLink("reportes", "Index", "Home")</li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Salir", "Logout", "Cuenta")</li>
                <li >
                    <a>
                        @Session["nombreUsuario"]
                    </a>
                </li>
            </ul>
        </div>

    }

                </div>
            </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>